.board-square {
  border: 1px solid black;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#display-view {
  display: flex;
  max-width: 525px;

}

#move-view-cover {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 99;
  background-color: black;
}

.pulsating-box {
  animation-name: pulse;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  z-index: 100;
}

@keyframes pulse {
  form {background-color: inherit;}
  to {background-color: #f0f0f0;}
}

#left-view, #question-view {
  height:100%;
  width: 50%;
  max-width: 50%;
  display: inline-block;
  margin: 0;
}

#question-view {
  z-index: 0;
}

#question-view p {
  border: 1px solid black;
  padding: 20px;
  margin: 1px;
}

#question-view button {
  margin: 2px 1px;
  display: block;
  padding: 10px;
  width: calc(100% - 2px);
  text-align: center;
}

#key-view{
  height:50%;
  width: 100%;
  max-width: 100%;
  max-height: 50%;
  display: block;
  margin: 0;
}

#dice-view h5 {
  margin: 0px;
  text-align: center;
}

#roll-view, #dice-view {
  height:25%;
  width: 100%;
  max-width: 100%;
  max-height: 25%;
  display: block;
  margin: 0;
}

#key-view ul {
  margin: 0;
}

#display-view ul {
  padding-left: 20px;
  padding-top: 13px;
}

#display-view ul li{
  list-style: none;
  padding: 2px;
}

#display-view ul li::before{
  content: "\2588";
  font-size: 20px;
  padding: 10px;
}

h6{
  margin: 0;
  color: black;
  display: inline;
  font-size: larger;
}

#roll-view p{
  margin: 0;
}


.science {
  background-color: green;
}

.science-key {
  color: green;
}

.history {
  background-color: brown;
}

.history-key {
  color: brown;
}

.entertainment {
  background-color: yellow;
}

.entertainment-key {
  color: yellow;
}

.general-knowledge {
  background-color: purple;
}

.general-knowledge-key {
  color: purple;
}

.geography {
  background-color: blue;
}

.geography-key {
  color: blue;
}

.sports {
  background-color: orange;
}

.sports-key {
  color: orange;
}



.board-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}

#box9, #box10, #box11, #box12, #box13, #box14, #box15 {
  grid-column-start: 9;
  grid-column-end: 10;
}

#box16, #box17, #box18, #box19, #box20, #box21, #box22, #box23{
  grid-row-start: 8;
  grid-row-end: 9;
}

#box24, #box25, #box26, #box27, #box28, #box29 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#box24 {
  grid-row-start: 7;
  grid-row-end: 8;
}


#box25 {
  grid-row-start: 6;
  grid-row-end: 7;
}

#box26 {
  grid-row-start: 5;
  grid-row-end: 6;
}

#box27 {
  grid-row-start: 4;
  grid-row-end: 5;
}

#box28 {
  grid-row-start: 3;
  grid-row-end: 4;
}

#box29 {
  grid-row-start: 2;
  grid-row-end: 3;
}

#display-view {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 8;
}

#display-view, .science-key, .history-key, .entertainment-key, .general-knowledge-key, .geography-key, .sports-key {
    background-color: pink;
}

.right-answer {
  background-color: green;
}

.selected-answer {
  background-color: red;
}
