#player-1-piece, #player-2-piece {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#player-1-piece {
  background-color: black;
}

#player-2-piece {
  background-color: white;
}

.empty-slot {
  background-color: grey;
}

.slot-1, .slot-2, .slot-3, .slot-4 {
  width: 40%;
  height: 40%;
}

"history": 'brown-pie',
"geography": 'blue-pie',
"sports": 'orange-pie',
"entertainment": 'yellow-pie',
"science": 'green-pie',
"general-knowledge": 'purple-pie'

.purple-pie {
  background-color: purple;
}

.green-pie {
  background-color: green;
}

.yellow-pie {
  background-color: yellow;
}

.orange-pie {
  background-color: orange;
}

.blue-pie {
  background-color: blue;
}

.brown-pie {
  background-color: brown;
}
