#player-1-piece, #player-2-piece, #player-3-piece, #player-4-piece {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 100%;
  padding: 3%;
}

#player-1-piece {
  background-color: black;
}

#player-2-piece {
  background-color: white;
}

#player-3-piece {
  background-color: red;
}

#player-4-piece {
  background-color: salmon;
}

.empty-slot {
  background-color: grey;
}

.slot-1, .slot-2, .slot-3, .slot-4 {
  width: 40%;
  height: 40%;
}

.slot-1 {
  border-radius: 100% 0 0 0;
}

.slot-2 {
  border-radius: 0 100% 0 0;
}

.slot-3 {
  border-radius:  0 0 0 100%;
}

.slot-4 {
  border-radius:  0 0 100% 0;
}

.purple-pie {
  background-color: purple;
}

.green-pie {
  background-color: green;
}

.yellow-pie {
  background-color: yellow;
}

.orange-pie {
  background-color: orange;
}

.blue-pie {
  background-color: blue;
}

.brown-pie {
  background-color: brown;
}
