#win-view {
  position: fixed;
  z-index: 100;
  top: 60px;
  left: 67.5px;
  height: 480px;
  width: 540px;
  background-color: pink;
  border: gold 5px solid;
  border-radius: 40px;
  box-shadow: 5px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.player-fields-div {
  min-height: 160px;
}

#win-view h1 {
  text-align: center;
}

#win-view form input[type=submit]{
  position: absolute;
  left: 30%;
  margin-top: 10px;
  border: gold 2px solid;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-size: 25px;
}

#win-view form input[type=submit]:active{
  margin-top: 14px;
}


#win-view form input[type=submit]:hover {
  box-shadow: 0 12px 16px 0;
}
