#win-view {
  position: fixed;
  z-index: 100;
  background-color: pink;
  border: gold 40px solid;
  border-radius: 200px;
  box-shadow: 5px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
