#win-view {
  position: fixed;
  z-index: 100;
  top: 60px;
  left: 67.5px;
  height: 480px;
  width: 540px;
  background-color: pink;
  border: gold 5px solid;
  border-radius: 40px;
  box-shadow: 5px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#win-view form input[type=submit]{
  position: relative;
  left: 40%;
  margin-top: 10%;

}
