body {
  display: flex;
  justify-content: left;
  font-family: Verdana;
}

#player-view {
  box-sizing: border-box;
  display: inline-flex;
  width: 300px;
  background-color: pink;
  height: 600px;
  border: 2px black solid;
  border-radius: 5px;
  margin-left: 50px;
  flex-direction: column;
  padding: 20px 0px;
  z-index: 100;
  text-align: center;
}

#player-view ul {
  margin-left: 40px;
}

#player-view ul, #player-view li {
  text-align: left;
  padding: 5px 15px;
}

#player-view li {
  font-size: 20px;
  text-align: left;
  padding: 5px 5px;
  list-style: circle;
  margin-bottom: 5px;
}

#player-view h3 {
  font-size: 24px;
}

#player-view h4 {
  font-size: 20px;
}

#player-view h6 {
  font-size: 8px;
  padding: 0px 15px;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 80%;
  box-sizing: border-box;
}

.highlighted {
  border: 5px gold solid;
  border-radius: 10px;
  box-shadow: 4px 4px 10px;
}

.player-info-div {
  margin-left: 50px
}

.piece-info-div {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
